/* Reset some basic styling */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: tahoma;
   background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

/* Header styling */
.header {
    background-color: #333;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}


/* Menu toggle for mobile */
.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

/* Main content styling */
.banner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
}

.left-section {
    flex: 1;
}

.right-section {
    flex: 1;
}

.input-group {
    margin-bottom: 1rem;
}

input {
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Responsive styling */
@media (max-width: 768px){}
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
    }

    

    .menu-toggle {
        display: flex;
    }
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
      font-size:30px;
        box-shadow: 2px 2px 3px #999;
      z-index:100;
    }
    
    .my-float{
        margin-top:16px;
    }
    /* .nav-links li {
        text-align: center;
        padding: 1rem;
        border-bottom: 1px solid #444;
    } */

    /* .nav-links li:last-child {
        border-bottom: none;
    }
} */
